<mat-toolbar id="main-toolbar" class="mat-elevation-z2">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div>
      <span fxHide="false" fxHide.gt-sm>
        <button mat-button (click)="sidenavToggle()" id="icon menu">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      </div>
      <div><a routerLink="/" class="a-title">TECHNICAL ASSIGMENT - VIVIANA M. VALENZUELA LEON </a></div>

    </div>
  </div>
</mat-toolbar>
